@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Privacy</h1>

<div class="bg-light">
    <ul class="list-group">
        <li class="list-group-item">1. App do not store personal data, like ad id etc.</li>
        <li class="list-group-item">2. Cookies are used for "remember me" function and antiforgery token</li>
    </ul>
</div>
