
@{
    ViewData["Title"] = "Instruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light">
    <p class="display-4">Instructions</p>
</div>

<div class="bg-light">
    <div class="row">
        <div class="col-6">
            <p class="h5">Adding new storage</p>
            <p>1. Add storage -> insert name, select type (default: other).</p>
            <p>2. Add to new resource group (insert name) or add to existing group. If you selected and then changed your mind, you can select "New resource group" and then type common resource name.</p>
            <p>3. Click "Add new". New storage has been added to desired common resources.</p>
        </div>
        <div class="col-6">
            <p class="h5">Adding existing common resources.</p>
            <p>You can share common resources with other users via giving them CommonID of desired commmon resources.</p>
            <p>1. Click on common resource name.</p>
            <p>2. Copy CommonID.</p>
            <p>3. Paste CommonID to CommonID field in "Add existing common".</p>
            <p>4. Click "Add existing"</p>
        </div>
    </div>
</div>