@model Note
@{
    ViewData["Title"] = "Edit note";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light">
    <p class="display-4">Add note</p>
</div>

<div class="bg-light">
    <div class="m-1">
        <form class="form-group" asp-controller="Notes" asp-action="EditNoteDb">
            <!-- Note name -->
            <div class="form-group">
                <label asp-for="NoteName" class="font-weight-bold"></label>
                <input asp-for="NoteName" class="form-control" />
                <span asp-validation-for="NoteName" class="text-danger"></span>
            </div>

            <!-- text -->
            <div class="form-group">
                <label asp-for="NoteText" class="font-weight-bold"></label>
                <textarea asp-for="NoteText" class="form-control" type="text" rows="3" maxlength="1023"></textarea>
                <span asp-validation-for="NoteText" class="text-danger"></span>
            </div>

            <!-- submit button -->
            <div class="m-2">
                <button class="btn btn-success" type="submit">Edit note</button>
            </div>
            <input type="hidden" name="noteId" value="@Model.NoteId" />
            <input type="hidden" name="ownerId" value="@Model.OwnerId" />
            <input type="hidden" name="commonResourceId" value="@Model.CommonResourceId" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}